
{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}


<head>
  <title>{% block title %}About us {% endblock %}</title>
</head>
{% block body %}
<body style="background:linear-gradient(#00a2e1);">

<div class="container-fluid">
	<div class="float-right"><a href='http://www.freevisitorcounters.com'>Free Counters</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=3a684055b75f567ff4e6bb12770d111765737762'></script>
		<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/688430/t/0"></script></div>
<h2>Welcome</h2>
<p>At our website, we believe everyone deserves to have a profile or online store. Innovation and simplicity makes us happy: our goal is to remove any technical or financial barriers that can prevent business owners from making their own profit. We're excited to help you on your journey!</p>




<h2>Our Story</h2>

    <p>
        CashTreats began in 2020. After years in the entertainment industry, we realized that it was near impossible for
        the average Jane or Joe to create their own Events or website.
    </p>
    <p> Traditional web hosting services were simply too complicated, time consuming, and expensive to manage.
    </p>
<p>We created the CashTreats Site  with the user's perspective in mind. We wanted to offer a platform that would require wonderful skill to help others.
    We keep it simple, so users can focus on creating an amazing Events that reflects their brand. Best of all - it's free. You can get online, showcase your brand, or
    start selling products right away.
</p>
			<p>
				After seeing an increased need for ecommerce solutions, we developed one of the only fully-featured, free and commission-free online store, allowing users
				 to launch their online business.
			</p>
			<p>
				Today, we're proud to empower individuals and small business owners around the world. Everyone deserves a happiness, and we're excited to see what you create.
			</p>
	<p><h4>New To The City? Here Are Unique And Fun Ways To Make New Friends In anywhere in the world
</h4></p>

	<h5>How to make Friends All over the world</h5>
	<p><h6>Why limit your friends to those that live in your neighborhood? If you've ever been curious about different cultures and places, you might have a desire to make friends from all around the world. If you're not sure where to look, you can use the internet to connect with people that aren't from your country or become involved with your school's international programs and clubs. If you take the right approach and use all the resources at your disposal, making friends from all over the world is easy.
</h6></p>

<p><h2>Meet New People</h2></p>
<p><h4>What do I Have to do</h4></p>
	<p><h6>Sign up for free. (We use ads to support our service so you don't have to pay for it!)
Fill out your profile.
<p></p>
Use our search tools to find new friends.  Search by age, gender, location, interests, or just by keyword.
<P></P>
Send a message and introduce yourself to people you’d like to get to know better, and then take your friendship from there!
</h6></p>
<h2>MISSION</h2>
	<p><h5>To help men and women worldwide to make new friends with them you can organize events or buy and sell new or used goods or second-hand products in a fun-trusted social platform.
</h5></p>
	<br>
	<p><h2>VISION</h2></p>
	<p><h5>In a Cash treats world, friends gather for brunches, book clubs, or just to hang out.  Couples host cheerful dinner parties and runners all have running partners. We motivate and inspire each other, we are happier and healthier to share our experiences. 
No one is lonely because in a Cash treats world, you can look beyond your usual circles to find a friend that really understands you, who can help you to earn some money in a different way.</h5></p>

	<p><h2>Places to Sell Your Stuff Online for Extra Money</h2></p>
	<p><h4>Sell New and Used Goods and Digital Products Online</h4></p>
	<p><h5>Before the Internet, if you wanted to sell new or used items, you were limited to local garage sales, flea markets, bazaars, or consignment. Today, you can sell your tangible or digital goods practically anywhere around the world.
You can open your own eCommerce website, but for ease and affordability, you can use a service. In many cases, listing your goods with these services is free, and you simply pay a fee when your items sell.
</h5></p>
    <p><h2 style="text-align: center">Try it out. It’s Free.</h2></p><br>

{% include 'cashtreats/footer.html' %}
{% endblock %}
</body>
</html>