<footer class="bg-dark text-white border-top border-info">
        <div class="container text-center text-sm-left position-relative py-1  ">

        </div>
        <div class="d-flex pt-5 pb-4 bg-info text-dark justify-content-center" >
                    <div class="col-lg-4 text-center text-lg-center pb-4 ">
                        <h3 class="mb-0">Share with your friends</h3>
                        <p class="mb-2">send this website link to your groups</p>

                        <div >
                            <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="https://www.instagram.com/direct/new/"><i class="fa fa-instagram fa-2x"></i></a>
                            <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="https://twitter.com/intent/tweet?text=Hi,%20try%20this%20site%20it's%20fun%20http://cashtreats.com/&baz=456" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                            <a class="text-dark mx-2 mx-lg-0 ml-lg-3" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.abcd.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="https://api.whatsapp.com/send?text=www.CASHTREATS.com"><i class="fab fa-whatsapp fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-lg-left py-1 small bg-dark text-info font-italic">
            <div class="container">
                           <div class="row text-info  justify-content-center">
                <ul class="list-inline" id="text_decoration-2" style="margin-top:20px;font-family:ABeeZee, sans-serif;">
                    <li class="list-inline-item"><a class="text-primary decoration" style="color:rgb(0,0,0);font-size:13px;margin-right:10px;" href="{% url 'home' %}">Home</a></li>
                    <li class="list-inline-item"><a class="text-primary" style="font-size:13px;color:rgb(0,0,0);margin-right:10px;" href="{% url 'services' %}">Services</a></li>
                    <li class="list-inline-item"><a class="text-primary" style="font-size:13px;color:rgb(0,0,0);margin-right:10px;" href="{% url 'about-us' %}">About</a></li>
                    <li class="list-inline-item"><a class="text-primary" style="color:rgb(0,0,0);font-size:13px;margin-right:10px;" href="{% url 'terms-conditions' %}">Terms & Safety</a></li>
                    <li class="list-inline-item"><a class="text-primary" style="color:rgb(0,0,0);font-size:13px;" href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
                </ul>
            </div>
            </div>
        </div>

    </footer>