
{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

  <title>{% block title %} H O M E {% endblock %}</title>

{% block body %}
<body style="background:linear-gradient(-120deg, #ba0c2f, #ffcd00, #c9c9c9);">
<br>
<ul class="nav nav-pills nav-fill text-white">
  <li class="nav-item">
    Username: {{ user.username }}</h5>
  </li>
  <li class="nav-item">
    <h5>Email id: {{ user.email }}</h5>
  </li>
  <li class="nav-item">
    <h6><small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                            </small></h6>
  </li>

</ul>




    {% for posts in queryset %}
    {% if posts.author == user %}

<div class="row mx-auto" style="margin-top: 22px;" >
    <div class="col-md-5">
        <div class="mx-auto" >
            <div class="mx-auto" >
                 <div class="card bg-light mb-5 mx-auto"><div class="p-3 mb-1 bg-dark text-white"><h5 style="text-align:right">Hire a friend Profile</h5></div>
                     <div class="row no-gutters">
                        <div class="col-md-12" >
                             <a href="{% url 'friend-post-detail' posts.id %}"><img src="{{ posts.photo.url }}" style="width: 100%; height: 50vh; object-fit: contain   ;" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-12">
                            <a class="custom-card" style="color: #212529; text-decoration: none;" href="{% url 'friend-post-detail' posts.id %}">
                                <div class="card-body" style="padding:15px 5px 1px 15px;">
  <table class="table table-borderless text-info">
  <tbody>
    <tr>
        <td style="padding:4px; width:20px"><h6 class="text-secondary">Name:</h6></td>
        <td style="padding:4px; ">{{posts.name|truncatewords:3}}</td>
    </tr>
    <tr>
        <td style="padding:4px; width:20px"><h6 class="text-secondary"><i class="fas fa-map-marker-alt"></i> </h6></td>
        <td style="padding:4px;">{{ posts.address |truncatewords:4}}</td>
    </tr>
    <tr>
        <td style="padding:4px; width:20px"><h6 class="text-secondary">Age:</h6></td>
      <td style="padding:4px; ">{{posts.age}}</td>
    </tr>
  </tbody>
</table>



                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- if last column in row -->

        </div>



    {% endif %}
    {% endfor %}



{% for posts in blogs %}
{% if posts.author == user %}

<div class="row mx-auto" style="margin-top: 22px;" >
    <div class="col-md-4">
        <div class="mx-auto" >
            <div class="mx-auto" >
                 <div class="card bg-light mb-5 ">
                     <div class="p-3 mb-1 bg-dark text-white"><h5 style="text-align:right">Blog Case</h5></div>
                                          <div class="row no-gutters">
                        <div class="col-md-12" >
                             <a href="{% url 'blog-detail' posts.id %}"><img src="{{ posts.photo.url }}" class="card-img" style="width: 100%; height: 30ex; object-fit: cover;" alt="..."></a>
                        </div>

                            <div class="col-md-12">
                                <a class="custom-card" style="color: #212529; text-decoration: none;" href="{% url 'blog-detail' posts.id %}">
                                    <div class="card-body" style="width: 100%;height:300px; white-space:wrap; overflow: hidden; text-overflow:auto; ">
                                        <h6 class="text-secondary"><i class="fas fa-bookmark"></i> {{posts.category|truncatewords:8}}</h6><br>

                                        {{posts.content|truncatewords:50 | safe}}</p>

                                    </div>
                                </a>
                            </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
        </div>

{% endif %}
{% endfor %}




{% for posts in eva %}
{% if posts.author == user %}

<div class="row mx-auto" style="margin-top: 22px;" >
    <div class="col-md-4">
        <div class="mx-auto" >
            <div class="mx-auto" >
                 <div class="card bg-light mb-5 mx-auto"><div class="p-3 mb-1 bg-dark text-white"><h5 style="text-align:right">Events Profile</h5></div>
                     <div class="row no-gutters">
                        <div class="col-md-12" >
                             <a href="{% url 'event-post-detail' posts.id %}"><img src="{{ posts.image.url }}" class="card-img" style="width: 100%; height: 50vh; object-fit: cover;" alt="..."></a>
                        </div>
                        <div class="col-md-12">
                            <a class="custom-card" style="color: #212529; text-decoration: none;" href="{% url 'event-post-detail' posts.id %}">
                            <div class="card-body">
                                <table class="table table-borderless text-info">
  <tbody>
    <tr>
        <td style="padding:4px; width:20px"><h4 class="text-secondary"><i class="fab fa-fort-awesome-alt"></i></h4></td>
        <td style="padding:4px; "><h4>{{ posts.title |truncatewords:7}}</h4></td>
    </tr>
       <tr>
        <td style="padding:4px; width:20px"><h4 class="text-secondary"><i class="fas fa-map-marker-alt"></i> </h4></td>
        <td style="padding:4px;">{{ posts.location |truncatewords:3}}</td>
    </tr>
    <tr>
        <td style="padding:4px; width:20px"><h4 class="text-secondary"><i class="far fa-calendar"></i> </h4></td>
        <td style="padding:4px;">{{ posts.starts |truncatewords:6}}</td>
    </tr>
  </tbody>
</table>

                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>

{% endif %}
{% endfor %}



{% for posts in bank %}
{% if posts.author == user %}

<div class="row mx-auto" style="margin-top: 22px;" >
    <div class="col-md-4">
        <div class="mx-auto" >
            <div class="mx-auto" >
                 <div class="card bg-light mb-5 "><div class="p-3 mb-1 bg-dark text-white"><h5 style="text-align:right">Buy || Rent Profiles</h5></div>
                     <div class="row no-gutters">
                        <div class="col-md-12" >
                             <a href="{% url 'post-detail' posts.id %}"><img src="{{ posts.photo.url }}" class="card-img" style="width: 100%; height: 30ex; object-fit: cover;" alt="..."></a>
                        </div>

                            <div class="col-md-12">
                                <a class="custom-card" style="color: #212529; text-decoration: none;" href="{% url 'post-detail' posts.id %}">
                                <div class="card-body">
                                    <h6 class="text-info"> {{posts.title|truncatewords:8}}</h6>
                                    <h6 class="text-success"><i class="fas fa-tags"></i>{{posts.price|truncatewords:10}}</h6>
                          <p class="card-text"><small class="text-muted">{{posts.date_posted|date:"F d, Y"}}</small></p>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>

{% endif %}
{% endfor %}



<!--
    {% if object.author == user %}
    {% for pro in frds %}
    {% for banks in bank %}


    <a href="#" class="btn btn-primary">{{pro.name}}</a>

<h5 class="card-title">{{ user.username }}</h5>
    <h5 class="card-title">{{ banks.title }}</h5>
    <h5 class="card-title">{{ banks.author }}</h5>
    <p class="card-text">{{ user.email }}</p>
    <h5 class="card-title">{{ user.pro.name }}</h5>

    {% endfor %}
    {% endfor %}
    {% endif %}



  </div>
</div-->



</body>
{% include 'cashtreats/footer-sort.html' %}
{% endblock %}