{% extends 'base.html' %}

{% block content %}
<form action="{% url 'payments:payment' %}" method="post" id="payment-form">
    {% csrf_token %}
    <div class="form-row">
        <label for="card-element">
            Credit or debit card
        </label>
        <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display Element errors. -->
        <div id="card-errors" role="alert"></div>
    </div>

    <button>Submit Payment</button>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ stripe_key }}');
    var elements = stripe.elements();

    // Set up Stripe.js and Elements to use in checkout form
    var style = {
        base: {
            color: "#32325d",
            fontFamily: 'Arial, sans-serif',
            fontSmoothing: "antialiased",
            fontSize: "16px",
            "::placeholder": {
                color: "#aab7c4"
            }
        },
        invalid: {
            color: "#fa755a",
            iconColor: "#fa755a"
        }
    };

    var card = elements.create("card", { style: style });
    card.mount("#card-element");

    card.on("change", function (event) {
        // Disable the Pay button if there are no
document.querySelector("#card-errors").textContent = event.error ? event.error.message : "";
});   // Create a token when the form is submitted.
   var form = document.getElementById("payment-form");
   form.addEventListener("submit", function (event) {
       event.preventDefault();
       stripe.createToken(card).then(function (result) {
           if (result.error) {
               // Inform the user if there was an error
               document.querySelector("#card-errors").textContent = result.error.message;
           } else {
               // Send the token to your server
               stripeTokenHandler(result.token);
           }
       });
   });

   function stripeTokenHandler(token) {
       // Insert the token ID into the form so it gets submitted to the server
       var form = document.getElementById("payment-form");
       var hiddenInput = document.createElement("input");
       hiddenInput.setAttribute("type", "hidden");
       hiddenInput.setAttribute("name", "stripeToken");
       hiddenInput.setAttribute("value", token.id);
       form.appendChild(hiddenInput);

       // Submit the form
       form.submit();
   }
</script>
   {% endblock %}
